@import '~bootstrap/scss/bootstrap.scss';

.main-content {
  @extend .container;
}

.configs {
  li {
    margin: 15px 0px;
  }
}

.calculator-body {

  > * {
    margin-top: 1rem;
  }

  input, select, button {
    margin-right: 0.2rem;
  }

  .instruction-list {
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 5px;

    ol, ul {
      margin-bottom: 0;
    }
  }

  .result {
    font-size: x-large;
    margin-top: 1rem;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
